[flake8]
# exclude = .svn,CVS,.bzr,.hg,.git,__pycache__,.tox,.eggs,*.egg
extend-exclude = **/migrations/*.py

# ignore = E121,E123,E126,E226,E24,E704,W503,W504
per-file-ignores = settings.py:E501

max-complexity = 10
max-line-length = 88
show-source = true
benchmark = true

require-plugins = flake8-django
