[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
redis = {version = "*", extras = ["hiredis"]}
types-redis = "*"
#uvloop = {version = "*", markers = "sys_platform != 'win32'"}
celery = {version = "*", extras = ["librabbitmq", "mongodb", "redis"]}
#requests = "*"
#types-requests = "*"
#django = "~=4.2"
#psycopg = {version = ">=3.2", extras = ["binary", "pool"]}

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
pylint-pydantic = "*"
#pylint-django = "*"
#colorlog = "*"
#pytest = "*"
#coverage = {extras = ["toml"], version = "*"}
#pytest-cov = ">=3.0"
#pre-commit = "*"

[requires]
python_version = "3.11"
