[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
django = "~=3.2"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
flake8 = "*"
pylint-django = "*"
flake8-django = "*"
pytest = "*"
coverage = {extras = ["toml"], version = "*"}
pytest-cov = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
