[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = {version = "*", extras = ["all"]}
uvicorn = {version = "*", extras = ["standard"]}
redis = {version = "*", extras = ["hiredis"]}
types-redis = "*"
#uvloop = {version = "*", markers = "sys_platform != 'win32'"}
celery = {version = "*", extras = ["librabbitmq", "mongodb", "redis"]}
#psycopg = {version = ">=3.2", extras = ["binary", "pool"]}
motor = "*"
aiomqtt = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
pylint-pydantic = "*"
#colorlog = "*"
#pytest = "*"
#coverage = {extras = ["toml"], version = "*"}
#pytest-cov = ">=3.0"
#pre-commit = "*"

[requires]
python_version = "3.12"
